
@media screen and (max-width: 767px) {
    .registerform-box {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;

    }
  }
  
  /* Add responsive styles for tablet devices */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .registerform-box {
      width: 50%;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  
  /* Add responsive styles for larger screens */
  @media screen and (min-width: 992px) {
    .registerform-box {
      width: 25rem;
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }
.bg-container-reg
{
    background: #FFFFFF;
    box-shadow: -4px 7px 64px rgba(0, 0, 0, 0.10);
    height: fit-content;
    width: 40rem;
    height:30rem;
    border-radius: 22px;
    padding-top: 1rem;
    padding-bottom:3rem;

}

.reg-text-3{
    font-size: smaller;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.reg-text-4{
    color: cornflowerblue;
    
}

.registerform-box{
    background: #FFFFFF;
    box-shadow: -4px 7px 64px rgba(0, 0, 0, 0.10);
    height: fit-content;
    width: 100%;
    border-radius: 22px;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 10px;
    justify-content: center;
}

.background-container-1{
    margin-top: 5rem;
    margin-bottom:10rem ;
    padding-top:10rem;
}

@media screen and (max-width: 767px) {
  .background-container-1 {
    margin-top: 10rem;
  
  }
}
@media (max-width: 768px) {
    .bg-container-reg {
      background: #FFFFFF;
      box-shadow: -4px 7px 64px rgba(0, 0, 0, 0.10);
      height: fit-content;
      width: 100%;
      border-radius: 22px;
    }
  }
  